* {
    background-color: rgb(180, 180, 194);
}

#duck {
  width: 70px;
  height: 70px;

  position: absolute;
  animation: mymove 10s infinite;
  animation-direction: alternate;
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 100%;}
}

header {
  position: relative;
  grid-area: Title;
  display: grid;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  align-content: center;
  font-style: italic;
  margin: 30px;

}
header h1 {
text-shadow: 2px 2px 8px rgb(82, 139, 243)
}

.Results {
    grid-area: Results;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 50px;
    border-color: blue;
    border-style: double;
    border-width: 4px;
    padding: 25px;
    display: grid;
    justify-items: center;

}

.Results li {
    padding: 5px;
    margin-top: 5px;
}


.button {
    width: 100px;
    height: 35px;
    font-weight: bold;
}

#images img {
    object-position: center;
    object-fit: contain;
    width: 100%;
    height: 100%;



}

#images div {
  overflow: hidden;
  position: relative;
  aspect-ratio: 1/1;
  box-shadow: 10px 10px 10px rgba(53, 53, 53, 0.32);
}


.Images {
    grid-area: Images;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.Text-Content {
    grid-area: Text-Content;
    display: grid;
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
    justify-content: center;
    justify-items: center;
    margin-bottom: 10px;
}

.Footer {
    width: 100%;
    height: 75px;
    grid-area: Footer;
    display: grid;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(161, 184, 199);
    margin-top: 40px;
    align-items: center;
}



#images img {
    width: 350px;
}
